<div class="navigation">
	<div>
		<h1 class="navigation__logo">
			tiptap
		</h1> <span  class="navigation__count"><span></span></span>
	</div>
	<div><a  href="https://tiptap.scrumpy.io/docs" target="_blank" class="navigation__link">
			Documentation
		</a> <a href="https://github.com/scrumpy/tiptap/blob/master/CONTRIBUTING.md" target="_blank"
			class="navigation__link">
			Contribute
		</a> <a href="https://github.com/scrumpy/tiptap" target="_blank" class="navigation__github-link">
			<div  class="icon navigation__icon icon--github icon--normal has-align-fix"><svg
					class="icon__svg">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon--github"></use>
				</svg></div>
		</a></div>
</div>
<h1>
	tiptap – a renderless rich-text editor for Vue.js
</h1>
<p>
	This editor is based on <a href="https://prosemirror.net">Prosemirror</a>, <em >fully extendable</em> and
	renderless. You can easily add custom nodes as <strong >Vue components</strong>.
</p>